
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');

body{
  margin: 0;
  align-items: center;
  align-content: center;
  background-image: url("http://cdn.eso.org/images/screen/eso1213a.jpg");
  color:white;
  font-family: 'Libre Baskerville', serif;
  background-attachment: fixed;
  text-align: center;
  font-size: 1.5vw;
}

#lolvers {
  width: 500px;
}

/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  color: white;
  background-image: url(https://i.postimg.cc/sDB4cxyP/header-LOL.png);
  background-color: #f1f1f1;
  padding: 80px 90px;
}


/* Style the header links */
.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}


/* Float the link section to the right */
.header-right {
  float: right;
}

#content {
  list-style: none;
  margin: auto;
  
}

.ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color:yellow;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.championBox {
  list-style: none;
  color: white;
  max-width: 50%;
  padding: 20px;
  margin: 30px auto;
  background-color: #21262d; 
  border-radius: 5%;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);  
  display: inline-block;
  text-align:center;
  overflow: hidden;
  position: relative
  
}

.championBox #text-footer {
  width: 100%;
	height: 100%;
	top: 100%;
	left: 0;
	transition: top .5s ease;
}

.wrap-text {
  padding: 15px;
  display: block;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  text-align: left;
}

.wrap-text p {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  margin-top: 0;
  color:black;
}
.championBox:hover #text-footer {
  top: 0%;
  background-color:white;
  opacity: 0.6;
  filter: alpha(opacity=60);
  
}

button {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color:white;
  vertical-align: middle;
  background-color: #21262d;
  border-radius: 5%;
  line-height: 1.5;
  
}
input[type=text] {
  background-color:#21262d;
  width: 300px;
  height: 55px;
  font-size: 20pt;
  text-align: center;
  color: white;
  font-family: 'Libre Baskerville', serif;
}; 
.pie-pagina{
  
	width: 100%;
	background-color: #000;
	height: 50px;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 600px){
  body {
    font-size: 0.2vw;
  }
  

}